{% extends "AppUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'invoice.index.entete' | trans }} "{{ 'invoice.prefix' | trans }}{{ entity.id }}" | {{ parent() }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block header_title %}{{ 'invoice.index.entete' | trans }} "{{ 'invoice.prefix' | trans }}{{ entity.id }}" | {{ parent() }}{% endblock %}

{% block body -%}
<div class="main">       
    <div class="well well-header">
        <div class="row-fluid">
            <h1 class="span12 text-center">{{ 'invoice.index.entete' | trans }} {{ 'invoice.prefix' | trans }}{{ entity.id }}</h1>
            <div class="span5">
                <h2>{{ 'invoice.field.client' | trans }}</h2>
                <ul class="unstyled">                    
                    <li>{{ entity.user.prenom ~ ' ' ~ entity.user.nom }}</li>
                    <li>{{ 'invoice.field.email' | trans }}: {{ entity.user.email }}</li>
                    <li>{{ 'invoice.field.reference' | trans }}: {{ 'invoice.field.referenceClient' | trans }}{{ entity.user.id }}</li>
                </ul>
            </div>
            <div class="span6">                
                <ul class="unstyled pull-right">
                    <li><h2>{{ 'invoice.field.prestataire' | trans }}</h2></li>
                    <li>LOKO Steeve</li>
                    <li>Développeur Web Freelance</li>
                    <li>{{ 'invoice.field.email' | trans }}: {{ webmaster_email }}</li>
                    <li>{{ 'invoice.field.website' | trans }}: loko-steeve.com</li>
                </ul>
            </div>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ 'invoice.field.line' | trans }}</th>
                <th>{{ 'invoice.field.reference'|trans }}</th>
                <th>{{ 'invoice.field.designation'|trans }}</th>
                <th>{{ 'invoice.field.quantite'|trans }}</th>
                <th>{{ 'invoice.field.prixunitaire'|trans }}</th>
                <th>{{ 'invoice.field.total'|trans }}</th>                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4" class="border-top"></th>
                <th colspan="1" class="border-left border-top">{{ 'invoice.field.totalHT'|trans }}</th>
                <td colspan="1" class="border-top">{{ entity.paiement.prixHorsTaxe }} &euro;</td>
            </tr>
            <tr class="border-left">
                <th colspan="4"></th>
                <th colspan="1" class="border-left">{{ 'invoice.field.taxe'|trans }} (19.6%)</th>
                <td colspan="1">{{ entity.paiement.taxe }}</td>
            </tr>
            {% if entity.remise > 0 %}
            <tr class="border-left">
                <th colspan="4"></th>
                <th colspan="1" class="border-left">{{ 'invoice.field.remise'|trans }} ({{ entity.remise }}%)</th>
                <td colspan="1">({{ entity.paiement.remise }})</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="4"></th>
                <th colspan="1" class="border-left border-top">{{ 'invoice.field.totalTTC'|trans }}</th>
                <td colspan="1" class="border-top">{{ entity.paiement.total }} &euro;</td>
            </tr>
        </tfoot>
        <tbody>                 
            <tr>
                <td>1</td>                
                <td>{{ 'projet.prefix'|trans }}{{ entity.id }}</td>
                <td>{{ entity.titre }}</td>
                <td>1</td>
                <td>{{ entity.paiement.prixHorsTaxe }}</td>
                <td>{{ entity.paiement.prixHorsTaxe }}</td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tbody>        
    </table>
    
    <div class="well text-center">
        {{ 'invoice.index.footer' | trans }}
    </div>    
    
    <ul class="inline">        
        <li>
            <a class="btn" href="{{ path('projet') }}">
                <i class="icon-chevron-left"></i>
                {{ 'projet.index.back' | trans }}
            </a>
        </li>
        <li>
            <a class="btn btn-primary targetblank" href="{{ path('invoice', { 'slug': entity.slug, 'action': 'print' }) }}">
                <i class="icon-download icon-white"></i>
                {{ 'actions.download' | trans }}
            </a>
        </li>
        {% if not is_granted('ROLE_ADMIN') %}
            {% if entity.paiement.status != 1 %}
            <li>
                <a class="btn btn-danger" href="{{ path('paiement_wire_transfert', {'slug' : entity.slug }) }}">{{ 'actions.paiement' | trans }}</a>
            </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}
        