<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>        
        <title>{% block title %}{{ 'site.title' | trans }}{% endblock %}</title> 
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" lang="{{ app.request.locale }}" content="{% block description %}{% endblock %}"/>        
        <meta name="keywords" lang="{{ app.request.locale }}" content="{% block keywords %}{% endblock %}"/>
        <meta name="author" content="Steeve LOKO">                
        {% block stylesheets %}
            {%  stylesheets 
                    '@bootstrap_css'
                    '@AppPortfolioBundle/Resources/public/css/jquery-ui-1.10.0.custom.css'
                    '@AppPortfolioBundle/Resources/public/css/portfolio.css'
                    '@AppUserBundle/Resources/public/css/fos_user.css'
                    '@AppBlogBundle/Resources/public/css/blog.css'
                    '@AppBlogBundle/Resources/public/css/prettify.css'
                    filter = 'cssrewrite' 
                    output = 'css/style.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
            {%  stylesheets 
                    '@AppPortfolioBundle/Resources/public/css/jquery.ui.1.10.0.ie.css'
                    filter = 'cssrewrite'
                    output = 'css/style.ie.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        <![endif]-->
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /        
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            {% javascripts 
                '@AppPortfolioBundle/Resources/public/js/html5shiv.js'
                output='js/main.ie.js' 
                filter='' 
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
          <script src="assets/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body {% block class_body %}{% endblock %}>
        <div class="row-fluid">            
            <header>         
                {% block header %}
                {% endblock %}                
                {% block navbar %}
                <div class="navbar navbar-inverse navbar-fixed-top">                    
                    <nav class="navbar-inner">
                        <a class="brand" href="{{ path('app_portfolio_homepage') }}">
                            <img class="logo" src="{{ asset('/img/logo.jpg') }}" alt="" width="20" height="20"/>
                            {{ 'site.logo' | trans }}
                        </a>
                        <ul class="nav">
                            <li><a title="{{ 'site.entete.menu.portfolio' | trans }}" href="{{ path('app_portfolio_homepage') }}">{{'site.entete.menu.portfolio' | trans}}</a></li>  
                            <li><a title="{{ 'site.entete.menu.blog' | trans }}" href="{{ path('app_blog_homepage') }}">{{'site.entete.menu.blog' | trans}}</a></li>
                            <li><a title="{{ 'site.entete.menu.boutique' | trans }}" href="{# path('app_boutique_homepage') #}#">{{'site.entete.menu.boutique' | trans}}</a></li>                            
                        </ul>
                        <ul class="nav pull-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a class="brand">{{ 'site.entete.bienvenue' | trans({ '%nom%': app.user.nom, '%prenom%': app.user.prenom}) }}</a></li>
                            {% endif %}
                            <li><a title="{{ 'site.entete.menu_utilisateur.compte' | trans }}" href="{{ path('fos_user_profile_show') }}"><i class="icon-user icon-white"></i> {{ 'site.entete.menu_utilisateur.compte' | trans }}</a></li>                                
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#<li><a title="{{ 'site.entete.menu_utilisateur.visioconference' | trans }}" href="#">{{ 'site.entete.menu_utilisateur.visioconference' | trans }}</a></li>#}
                            <li><a title="{{ 'site.entete.menu_utilisateur.deconnexion' | trans }}" href="{{ path('fos_user_security_logout') }}">{{ 'site.entete.menu_utilisateur.deconnexion' | trans }}</a></li>
                            {% else %}
                            <li><a title="{{ 'site.entete.menu_utilisateur.inscription' | trans }}" href="{{ path('fos_user_registration_register') }}">{{ 'site.entete.menu_utilisateur.inscription' | trans }}</a></li>
                            <li><a title="{{ 'site.entete.menu_utilisateur.connexion' | trans }}" href="{{ path('fos_user_security_login') }}">{{ 'site.entete.menu_utilisateur.connexion' | trans }}</a></li>
                            {% endif %}
                            <li class="remove-padding-right"><a title="{{ 'site.entete.langue.fr' | trans }}" href="#"><img src="{{ asset('/img/fr.png') }}" alt="{{ 'site.entete.langue.fr' | trans }}"/></a></li>
                            <li><a title="{{ 'site.entete.langue.en' | trans }}" href="#"><img src="{{ asset('/img/en.png') }}" alt="{{ 'site.entete.langue.en' | trans }}"/></a></li>
                        </ul>
                    </nav>
                </div>
                {% endblock %}

                <div class="navbar">                    
                    <nav class="navbar-inner submenu">
                        {% block subnavbar %}
                        {% endblock %}    
                        {% block reseausocial %}
                        <ul class="nav pull-right">
                            <li><a class="brand" href="#">{{ 'site.menu_reseau_social.me_suivre' | trans }}</a></li>
                            <li><a title="{{ 'site.menu_reseau_social.google_plus_profile' | trans }}" href="https://plus.google.com/100370336164704667929/"><img src="{{ asset('/img/googleplus.png') }}" alt="{{ 'site.menu_reseau_social.google_plus_profile' | trans }}" /></a></li>  
                            <li><a title="{{ 'site.menu_reseau_social.linkedin_profile' | trans }}" href="http://www.linkedin.com/pub/loko-steeve/2b/214/21a"><img src="{{ asset('/img/linkedin.png') }}" alt="{{ 'site.menu_reseau_social.twitter_profile' | trans }}" /></a></li>
                            <li><a title="{{ 'site.menu_reseau_social.twitter_profile' | trans }}" href="https://twitter.com/loko_steeve"><img src="{{ asset('/img/twitter.png') }}" alt="{{ 'site.menu_reseau_social.twitter_profile' | trans }}" /></a></li>
                        </ul>             
                        {% endblock %} 
                    </nav>
                </div>
            </header>

            {# On affiche ici les messages flash #}
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="container-fluid">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="container-fluid">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            </div>
            {% endfor %}

            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>

            <footer class="footer btn-inverse">
                {% block bouton_partage %}
                <div class="footer-texte">
                    {{ 'site.pied_de_page.partager' | trans }}
                </div>
                <ul class="inline bouton-partage">
                    <li>
                        <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li class="middle">
                        <div class="g-plusone" data-size="medium"></div>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    </li>
                </ul>
                {% endblock %}
                <div class="text-center">
                    {{ 'site.pied_de_page.copyright' | trans }}
                </div>
            </footer>
        </div>
      
        {% block javascripts %}
            {% javascripts 
                '@jquery' 
                '@bootstrap_js'
                '@AppPortfolioBundle/Resources/public/js/jquery-ui-1.10.0.custom.min.js' 
                '@AppBlogBundle/Resources/public/js/prettify.js'
                '@AppPortfolioBundle/Resources/public/js/javascript.js'
                '@AppBlogBundle/Resources/public/js/blog.js'
                output='js/main.js' 
                filter='' 
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <div id="fb-root"></div>
        {% block javascripts_reseau_social %}
            {% javascripts 
                '@AppPortfolioBundle/Resources/public/js/reseau-social.js'
                output='js/reseau-social.js' 
                filter='' 
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        
    </body>
</html>
