{% extends "AppBlogBundle::layout.html.twig" %}

{% block title %}{{ 'blog.contact.titre' | trans }} | {{ 'blog.accueil.titre' | trans }}{% endblock %}
{% block description %}{{ 'blog.contact.description' | trans }}{% endblock %}
{% block keywords %}{% endblock %}

{% block header_title %}{{ 'blog.contact.titre' | trans }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <p>
        {{ 'blog.contact.paragraphe' | trans }}
    </p>
    <form class="form-horizontal well" id="contactform" action="" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>{{ 'blog.contact.form.titre' | trans }}</legend>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{{ 'portfolio.contact.form.submit'|trans }}</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}