{% extends "AppUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'categorie.index.title' | trans }} | {{ parent() }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block header_title %}{{ 'categorie.index.title' | trans }} | {{ parent() }}{% endblock %}

{% block body -%}
<div class="main">

    <table class="table table-hover">
        <thead>
            <tr>  
                <th>{{ 'numero' | trans }}</th>
                <th>{{ 'categorie.field.id'| trans }}</th>  
                <th>{{ 'categorie.field.nom'| trans }}</th>
                <th>{{ 'categorie.field.langue'| trans }}</th>  
                <th>{{ 'categorie.field.position'| trans }}</th>
                <th>{{ 'categorie.field.articles'| trans }}</th>
                <th>{{ 'categorie.field.isActived'| trans }}</th>  
                <th>{{ 'actions.title' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('categorie_show', { 'id': entity.id }) }}">{{ 'categorie.prefix'| trans }}{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.langue }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.articles | length }}</td>
                <td>
                    {% if entity.isActived == 1 %}
                        {{ 'categorie.choices.isActived.1' | trans }}
                    {% else %}
                        {{ 'categorie.choices.isActived.0' | trans }}                            
                    {% endif %}
                </td>
                <td>
                <ul class="inline">
                    <li>
                        <a class="btn" href="{{ path('categorie_show', { 'id': entity.id }) }}"><i class="icon-th-list"></i> {{ 'actions.show' | trans }}</a>
                    </li>
                    <li>
                        <a class="btn" href="{{ path('categorie_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> {{ 'actions.edit' | trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="alert alert-info" colspan="8">{{ 'categorie.index.unavailable'| trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="pagination">
        <ul>
            {% for p in range(1, nb_pages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('categorie', {'page': p }) }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <ul class="inline">
        <li>
            <a class="btn" href="{{ path('categorie_new') }}">
                {{ 'categorie.index.new' | trans }}
                <i class="icon-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
