{% extends "AppPortfolioBundle::layout.html.twig" %}

{% block title %}{{ 'portfolio.tarif_symfony.titre' | trans }} | {{ parent() }}{% endblock %}
{% block description %}{{ 'portfolio.tarif_symfony.description' | trans }}{% endblock %}
{% block keywords %}{% endblock %}

{% block header_title %}{{ 'portfolio.tarif_symfony.titre' | trans }}{% endblock %}

{% block class_body %}data-spy="scroll" data-target="#myNav"{% endblock %}

{% block body %}
<div class="row-fluid page">
    <div class="span3" id="myNav">
        <ul class="nav nav-list nav-stacked" data-spy="affix" data-offset-top="190">
            <li><a href="#section1"><i class="icon-chevron-right"></i> {{ 'portfolio.tarif_symfony.tarif.europe.titre' | trans }}</a></li>
            <li><a href="#section2"><i class="icon-chevron-right"></i> {{ 'portfolio.tarif_symfony.tarif.afrique.titre' | trans }}</a></li>
        </ul>
    </div>
    <div class="span9">
        <div class="page-right">
            
            <p>{{ 'portfolio.tarif_symfony.introduction' | trans }}</p>
            
            <div id="section1" class="section-page">
                <h2>{{ 'portfolio.tarif_symfony.tarif.europe.titre' | trans }}</h2>
                <div class="section-page-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'portfolio.tarif_symfony.designation.titre' | trans }}</th>
                                <th>{{ 'portfolio.tarif_symfony.duree' | trans }}</th>
                                <th>{{ 'portfolio.tarif_symfony.tarif.titre' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="unstyled">
                                        <li>
                                            {{ 'portfolio.tarif_symfony.designation.ligne1.texte1' | trans }}
                                            <ul>
                                                {% for i in 0..1%}
                                                <li>{{ ('portfolio.tarif_symfony.designation.ligne1.liste1.' ~ i) | trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>20</td>
                                <td>500 {{ 'portfolio.tarif_symfony.tarif.europe.devis' | trans }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="unstyled">
                                        <li>
                                            {{ 'portfolio.tarif_symfony.designation.ligne1.texte1' | trans }}
                                            <ul>
                                                {% for i in 0..1%}
                                                <li>{{ ('portfolio.tarif_symfony.designation.ligne1.liste1.' ~ i) | trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>40</td>
                                <td>1000 {{ 'portfolio.tarif_symfony.tarif.europe.devis' | trans }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="unstyled">
                                        <li>
                                            {{ 'portfolio.tarif_symfony.designation.ligne1.texte1' | trans }}
                                            <ul>
                                                {% for i in 0..1%}
                                                <li>{{ ('portfolio.tarif_symfony.designation.ligne1.liste1.' ~ i) | trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>60</td>
                                <td>1500 {{ 'portfolio.tarif_symfony.tarif.europe.devis' | trans }}</td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
            
            <div id="section2" class="section-page">
                <h2>{{ 'portfolio.tarif_symfony.tarif.afrique.titre' | trans }}</h2>
                <div class="section-page-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'portfolio.tarif_symfony.designation.titre' | trans }}</th>
                                <th>{{ 'portfolio.tarif_symfony.duree' | trans }}</th>
                                <th>{{ 'portfolio.tarif_symfony.tarif.titre' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="unstyled">
                                        <li>
                                            {{ 'portfolio.tarif_symfony.designation.ligne1.texte1' | trans }}
                                            <ul>
                                                {% for i in 0..1%}
                                                <li>{{ ('portfolio.tarif_symfony.designation.ligne1.liste1.' ~ i) | trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>20</td>
                                <td>200 000 {{ 'portfolio.tarif_symfony.tarif.afrique.devis' | trans }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="unstyled">
                                        <li>
                                            {{ 'portfolio.tarif_symfony.designation.ligne1.texte1' | trans }}
                                            <ul>
                                                {% for i in 0..1%}
                                                <li>{{ ('portfolio.tarif_symfony.designation.ligne1.liste1.' ~ i) | trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>40</td>
                                <td>400 000 {{ 'portfolio.tarif_symfony.tarif.afrique.devis' | trans }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="unstyled">
                                        <li>
                                            {{ 'portfolio.tarif_symfony.designation.ligne1.texte1' | trans }}
                                            <ul>
                                                {% for i in 0..1%}
                                                <li>{{ ('portfolio.tarif_symfony.designation.ligne1.liste1.' ~ i) | trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>60</td>
                                <td>600 000 {{ 'portfolio.tarif_symfony.tarif.afrique.devis' | trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}