{% extends "AppUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'user.client.edit.title' | trans({'%username%': entity.username }) }} | {{ parent() }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block header_title %}{{ 'user.client.edit.title' | trans({'%username%': entity.username }) }} | {{ parent() }}{% endblock %}

{% block body -%}
<div class="main">

    {{ form(edit_form) }}

    <ul class="inline">
        <li>
            <a class="btn" href="{{ path('client') }}">
                <i class="icon-chevron-left"></i>
                {{ 'user.client.index.back' | trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
